<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
    &lt;!&ndash;<link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet"/>&ndash;&gt;
    &lt;!&ndash;[if lt IE 9]&ndash;&gt;
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->
    <!--[endif]-->
</head>
<body>
    <div class="row">
        <label for="attr" class="col-md-2 control-label">属性形式</label>
        <div class="col-md-2">
            <input type="text" class="form-control" date-picker/>
        </div>
    </div>

<div class="row">
    <label for="style" class="col-md-2 control-label">样式形式</label>
    <div class="col-md-2">
        <input type="text" class="form-control date-picker"/>
    </div>
</div>
</body>
</html>